C/Colleen/Colleen
C/Grace/Grace
C/Grace/Grace_kid.c
C/Sully/Sully
C/Sully/Sully_*

python/Grace/Grace_kid.py
python/Sully/Sully_*

asm/Colleen/Colleen.s
asm/Colleen/Colleen
asm/Grace/Grace
asm/Grace/Grace_kid.s
asm/Sully/Sully.o
asm/Sully/Sully
asm/Sully/Sully_*
